In [1]:
import pandas as pd

In [2]:
file_path = "./aircraft_incidents.csv"
df = pd.read_csv(file_path, encoding='ISO-8859-1')
df.info(), df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1987 entries, 0 to 1986
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Accident_Number         1987 non-null   object
 1   Event_Date              1987 non-null   object
 2   Location                1965 non-null   object
 3   Country                 1963 non-null   object
 4   Latitude                646 non-null    float64
 5   Longitude               647 non-null    float64
 6   Airport_Code            976 non-null    object
 7   Airport_Name            1020 non-null   object
 8   Injury_Severity         1987 non-null   object
 9   Aircraft_Damage         1155 non-null   object
 10  Registration_Number     1154 non-null   object
 11  Make                    1987 non-null   object
 12  Model                   1987 non-null   object
 13  Schedule                1798 non-null   object
 14  Air_Carrier             629 non-null    object
 15  Total_Fatal_Injuries    1987 non-null   int64
 16  Total_Serious_Injuries  1987 non-null   int64
 17  Total_Uninjured         1513 non-null   float64
 18  Weather_Condition       1272 non-null   object
 19  Broad_Phase_of_Flight   1116 non-null   object
dtypes: float64(3), int64(2), object(15)
memory usage: 310.6+ KB

(None,
   Accident_Number Event_Date        Location        Country   Latitude  \
 0      ATL00LA092    9/17/00     ATLANTA, GA  United States        NaN
 1      DCA08FA018   12/16/07  Providence, RI  United States        NaN
 2      DCA10CA018   12/18/09      Dallas, TX  United States  32.896944
 3      ENG12IA004   10/23/11     Atlanta, GA  United States        NaN
 4     DCA11CA084A    7/14/11      Boston, MA  United States  42.353333

    Longitude Airport_Code                    Airport_Name Injury_Severity  \
 0        NaN          NaN                             NaN       Non-Fatal
 1        NaN         KPVD         Theodore F. Green State       Non-Fatal
 2 -97.038055          DFW  Dallas/Fort Worth Intl Airport       Non-Fatal
 3        NaN          ATL  Hartsfield-Jackson Atlanta Int        Incident
 4 -71.014444          BOS   GENERAL EDWARD LAWRENCE LOGAN       Non-Fatal

   Aircraft_Damage Registration_Number        Make    Model Schedule  \
 0             NaN              N853AS  Bombardier  CRJ-200     SCHD
 1     Substantial              N470ZW  Bombardier   CL-600     SCHD
 2     Substantial              N515AE  Bombardier   CL-600     SCHD
 3             NaN              N751EV  Bombardier   CL-600     SCHD
 4     Substantial              N132EV  Bombardier   CL-600     SCHD

                                          Air_Carrier  Total_Fatal_Injuries  \
 0                            (DBA: DELTA CONNECTION)                     0
 1                             Air Wisconsin Airlines                     0
 2                                     American Eagle                     0
 3                    ATLANTIC SOUTHEAST AIRLINES INC                     0
 4  ATLANTIC SOUTHEAST AIRLINES INC (DBA: ATLANTIC...                     0

    Total_Serious_Injuries  Total_Uninjured Weather_Condition  \
 0                       1             50.0               VMC
 1                       0             34.0               IMC
 2                       0              3.0               VMC
 3                       0              NaN               NaN
 4                       0            291.0               VMC

   Broad_Phase_of_Flight
 0                CRUISE
 1               LANDING
 2              STANDING
 3               LANDING
 4              STANDING  )

In [3]:
# Convert Event_Date to datetime and handle parsing
df['Event_Date'] = pd.to_datetime(df['Event_Date'], format='%m/%d/%y', errors='coerce')
df['Event_Year'] = df['Event_Date'].dt.year

df[['Event_Date', 'Event_Year']].head()

  Event_Date  Event_Year
0 2000-09-17        2000
1 2007-12-16        2007
2 2009-12-18        2009
3 2011-10-23        2011
4 2011-07-14        2011

In [4]:
# Normalize 'Injury_Severity' and combine all fatal-related categories
df['Injury_Severity'] = df['Injury_Severity'].astype(str).str.strip().str.upper()
df['Injury_Severity'] = df['Injury_Severity'].replace(
    to_replace=r'FATAL\(\d+\)', value='FATAL', regex=True
)

df['Injury_Severity'].value_counts()

Injury_Severity
INCIDENT       1024
NON-FATAL       766
FATAL           134
UNAVAILABLE      63
Name: count, dtype: int64

In [5]:
# Save the cleaned dataset
cleaned_file_path = "../aircraft_incidents_cleaned.csv"
df.to_csv(cleaned_file_path, index=False)

cleaned_file_path

'../aircraft_incidents_cleaned.csv'